@import "flowbite/src/themes/default.css";

body {
  font-family: 'Inter', sans-serif;
  background-color: rgba(156, 156, 156, 0.945);
  color: #0099ff;
  margin: 0;
  padding: 0;
}

body.dark {
  background: #181818;
  color: #c0c0c0;
}

h1, h2, h3 {
  font-family: 'Oswald', sans-serif;
  color: #D64218;
}

.className {
  font-family: 'Oswald', sans-serif;
  color: #D64218;
}